body {
	background-image: url("https://steamuserimages-a.akamaihd.net/ugc/146759880552656387/6D2A4999A35B58D7DAD59CD48387271E53D14A26/");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	color: white;

}

@font-face {
  /*font-family: 'DameronHalf';
  src: url('/assets/dameronhalf.ttf');*/

  font-family: 'Dameron3d';
  src: url('/assets/dameron3d.ttf');
}

@font-face {
	font-family: 'FoFBI';
  	src: url('/assets/Outrun future Bold Italic.otf');
}

@font-face {
	font-family: 'FFFFORWA';
  	src: url('/assets/FFFFORWA.TTF');
}

@font-face {
	font-family: 'MainF';
	src: url('/assets/MAINBRG_.ttf');
}

@font-face {
	font-family: 'Bala';
	src: url('/assets/BalaCynwydNF.ttf');
}

@font-face {
	font-family: 'VerV';
	src: url('/assets/vermin_vibes_1989.ttf');
}

ul {
  list-style-type: none;
}

.sectionTitle {
	text-align: center;
	font-family: 'Dameron3d';
	font-size: 50px;
	color: whitesmoke;
	line-height: 95%;
}


#name {
	text-align: center;
	font-family: 'Bala';
	/*font-family: 'VerV';*/
	font-size: 80px;
	color: azure;
}

#tagLine {
	text-align: center;
	color: hotpink;
	font-family: 'FoFBI';
	font-size: 36px;
	line-height: 110%;
}

#special {
	text-align: center;
	color: blue;
	font-family: 'FFFFORWA';
	font-size: 28px;
	transition: all .2s ease-in-out;
}

#special:hover{
	transform: scale(1.15);
}

#menu{
	width:60%;
    float: left;
}

.spacer{
	text-align: center;
	color: hotpink;
}

p {
	margin-left: 2%;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

p span {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

.content {
	border: 2px solid hotpink;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: midnightblue;

}

a:hover{
	color: red;
}

a:active{
	color: maroon;
	transform: scale(.95);
}

a:visited {
	text-decoration: none;
}

.pageTop {
	border: 2px white;
	background-image: url(/assets/warp3.gif);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; 

	width: 100%
	text-align: center;
	padding: 10px;
	line-height: 90%
}

#today {
	background-image: url(/assets/cypunk1.gif);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; 
	line-height: 95%
}


#topMenu {
	border: 1px solid black;
	text-align: center;
	transition: .3s linear;
	background-image: url(/assets/chromebar.jpg);
	color: midnightblue;
}

#menu {
	padding-top: 10px;
  	display: flex;
  	flex-direction: column;
}

.guide{
	list-style-type: none;
	display: inline-block;
	font-family: 'Stalinist One', cursive;
	color: midnightblue;
	font-size: 28px; 
	padding: 10px 30px;
	border: 1px solid black;
	background-image: url(/assets/chromebar.jpg);
}

.google-maps{
	margin: 10px;
	border: 2px solid hotpink;
}

#addy{
	float:left;
	width: 45%;
	color: skyblue;
	padding: 5px;
	font-size: 20px;
	margin-right: 5px;
}

#street {
	transition: all .2s ease-in-out;
}

#street span {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

#street:hover {
	transform: scale(1.08);
}

#map {
	transition: all .2s ease-in-out;
}

#map span {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

#map:hover {
	transform: scale(1.08);
}

#visit{
	width:38%;
    float: right;
    margin: 10px;
    background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

#subscribe{
	width:38%;
    float: right;
    margin: 10px;
    background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

#addyHours{
	width:38%;
    float: right;
    margin-left: : 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'MainF';
}

.pizza { 
	transition: all .2s ease-in-out;
	color: azure;
}

.pizza:hover { 
	transform: scale(1.045);
	color: white;
}

.pizzaName{
	font-family: 'FFFFORWA';
	font-size: 16px;
	color: lightgreen;
}


.hrs{
	width: 49%
	line-height: 70%;
}

#subscribe{
	color: dodgerblue;
}

#deal{
	color: lightgreen;
	-webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  
  10% {
    color: #8e44ad;
  }
  
  20% {
    color: #1abc9c;
  }
  
  30% {
    color: #d35400;
  }
  
  40% {
    color: blue;
  }
  
  50% {
    color: #34495e;
  }
  
  60% {
    color: blue;
  }
  
  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }
  
  90% {
    color: #2980b9;
  }
  
  100% { 
    color: pink;
  }
}

input {
	margin-bottom: 15px;
	font-family: 'Geostar Fill', cursive;
	background-color: hotpink;
	color: white;
}

.hours{
	list-style-type: none;
	padding: 5px;
	font-size: 18px;
	margin-top: 10px;
	transition: all .2s ease-in-out;
	color: azure;
}

.hours span{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .7);
}

.hours:hover {
	transform: scale(1.08);
}

.foot{
	width:99.2%;
	text-align: center;
    float: left;
    margin-top: 10px;
	background-color: black;
}

#credit{
	margin: 5px;
}

#copyright{
	margin: 5px;
}