body {
	background-image: url("https://steamuserimages-a.akamaihd.net/ugc/146759880552656387/6D2A4999A35B58D7DAD59CD48387271E53D14A26/");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	color: white;

}

@font-face {
  font-family: 'Dameron3d';
  src: url('/assets/dameron3d.ttf/');
  font-family: 'Trade Winds', cursive;
  src: url('https://fonts.googleapis.com/css?family=Trade+Winds');


}

ul {
  list-style-type: none;
}



#name {
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	font-size: 72px;
}

#tagLine {
	text-align: center;
	color: hotpink;
	font-family: 'Trade Winds', cursive;
	font-size: 48px;
}

#special {
	text-align: center;
	color: lightgreen;
	font-family: 'Geostar Fill', cursive;
	font-size: 22px;
}

#menu{
	width:60%;
    float: left;
}

.spacer{
	text-align: center;
	color: hotpink;
}

p {
	margin-left: 2%;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.content {
	border: 2px solid hotpink;
}

.pageTop {
	border: 2px white;
	background-color: black;
	text-align: center;
	padding: 10px;
}

.sectionTitle {
	text-align: center;
	font-family: 'Stalinist One', cursive;
	font-size: 30px;
}

#today {
	background-color: black;
}


#topMenu {
	border: 2px solid purple;
	text-align: center;
	transition: .3s linear;
	background-color: black;
}

#menu {
	padding-top: 10px;
}

.guide{
	list-style-type: none;
	display: inline-block;
	font-family: 'Stalinist One', cursive;
	font-size: 28px; 
	padding: 10px 30px;
}

.google-maps{
	margin: 10px;
}

#addy{
	float:left;
	width: 45%;
	font-family: 'Geostar Fill', cursive;
	color: skyblue;
	padding: 5px;
}

#visit{
	width:38%;
    float: right;
    padding: 10px;
}

.pizzaName{
	font-family: 'Geostar Fill', cursive;
	font-size: 22px;
	color: lightgreen;
}

.hrs{
	float: right;
	width: 49%
}

.hours{
	padding: 5px;
	font-family: 'Geostar Fill', cursive;
	font-size: 12px;
	margin-top: 10px;
}
.foot{
	width:38%;
    float: right;
    padding: 10px;
	background-color: black;
}

#credit{
	margin: 5px;
}

#copyright{
	margin: 5px;
}